body{
  text-align: center;
  background: -webkit-linear-gradient(#ffff80,#008ae6);
  font-size: 50px;
  border: 30px double grey;
  -webkit-columns-count:2;

}

ul{
  list-style-type: georgian;
  list-style-position: inside;
}
