body{
  text-align: center;
  background: -webkit-linear-gradient(#406BCD,#7208FF);
  font-size: 50px;
  border: 30px double grey;
  -webkit-columns-count:2;

}

ul{
  list-style-type: circle;
  list-style-position: inside;
}
