body{
background:-webkit-linear-gradient(#00FFE4, #23FF00);
text-align: center;
font-size: 40px;
-webkit-column-count:1;
color: #black;
}

ul{
  list-style-type: disc;
  list-style-position: inside;
}
