h1{color: #F0F0F0;
text-align: center;
font-size: 60px;
text-transform: capitalize;
text-shadow: 4px 4px 7px #867A91;}
p {text-align: center;
}

body{
 background: -webkit-linear-gradient(#FFC95E, #F55A7E,#875DD8);
/* background-image: url("file:///Users/ray/Desktop/Programming/web1/pics/IMG_0816.JPG");*/
  font-size: 40px;
  text-align: center;
  border: 50px solid #F0F0F0;
  border-style: double;
  margin: 20px solid green;
 -webkit-column-count:2;
 -webkit-column-break-inside:avoid;
 column-width: 0;
  color:#2D3232;
  line-height: 60px;
  -webkit-row-count:3;

}

ul{list-style: none;
list-style-position: none;
text-shadow: 1px 1px 4px white;
color: #2D3232;}
img{border: 10px solid #D0D0D0}
video{border: 10px solid #D0D0D0}
h2{color: #F0F0F0;
text-shadow: 4px 4px 7px #867A91;}
a {color:#2D3232;
text-decoration: none;
/*float: left;*/
}
p{text-shadow: 1px 1px 4px white;
-webkit-column-break-inside:avoid;}



#side1 {-webkit-column-break-inside:avoid;}
#side2 {-webkit-column-break-inside:avoid;}




title{
  width: 100%;
  background-color: red;
  height: 70px;
  color: #80ff80;
  text-align: center;
}

}
.headercontent{
  align: center;
  width: 10%;
  height: 50px;
  margin: 0 auto;
  background: salmon;
  color: red;
  font-style: italic;
  font-size: 60px;
  padding: 15px 30px;
  position: center;
  top: 0px;
  overflow: hidden;
  text-decoration: underline;
  color: #80ff80;
}
.headercontent ul li:hover {
  background-color: grey;
}

head{
  margin: 0;
  text-align: center;
  color: #80ff80;
}

.name{
  font-size: 70px;
}

/*.nav- .logo{
  float: left;
  height: 40px;
  padding: 15px 30px;
  font-size: 2.4em;
  line-height: 40px;

}

.nav-main > ul{
  margin: 0;
  padding: 0;
  float: left;
  list-style-type: none;
}

.nav-main > ul >li{

  float: left;

}

.nav-item{
display: inline-block;
padding: 15px 20px;
height: 40px;
line-height: 40px;
color: white;
text-decoration: none;
}

.nav-item:hover{
  background-color: yellow;
 }

 .nav-content{
position: absolute;
top: 70px;
overflow: hidden;
background-color: #222222;
max-height: 0;

 }

 .nav-content a{
   color: #fff;
   text-decoration: none;

 }

 .nav-content a:hover {

   text-decoration: underline;

 }

 .nav-sub{

   padding: 20px;
 }

 .nav-sub ul{
   padding: 0;
   margin: 0;
   list-style-type: none;
 }

 .nav-sub ul li a {
   display: inline-block;
   padding: 5px 0
 }

 .nav-item: focus{
   background-color: #222222;
 }

 .nav-item:focus ~ .nav-content{
   max-height: 400px;
   -webkit-transition: max-height 0.4s ease-in;
   -moz-transition: max-height 0.4s ease-in;
 }
 ul{list-style: none}*/
