body{
 background:-webkit-linear-gradient(#ff4d4d,#1b324b);
  text-align: center;
  color: #222222;
  border: 30px solid #66ff66;
}
h3 {
  font-size: 30px;
}

h2{
  font-size: 35px
}

h1{
  font-size: 45px;
}

p{
  font-size: 25px;
}
