body{
  background:-webkit-linear-gradient(#00FFFF,#FF7400);
  text-align: center;
  color: #222222;
  border: 30px solid grey;
}
h3 {
  font-size: 30px;
}

h2{
  font-size: 35px
}

h1{
  font-size: 45px;
}

p{
  font-size: 25px;
}
